.profile-card {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    padding: 25px;
    width: 250px;
    height: 320px;
    text-align: center;
    transition: transform 0.3s;
  }
  
  .profile-card:hover {
    transform: translateY(-5px);
  }
  
  .profile-card img {
    width: 250px; /* agrandi */
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
  }
  
  .delete-btn {
    margin-top: 3px;
    padding: 3px 3px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .delete-btn:hover {
    background-color: #e60000;
  }
  